@import './base.css';
@import "./normalize.css";

/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Dubai, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


* {
    outline: none;
    border: none;
}

nav {
    position: fixed;
    top: 0;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    left: 0;
    height: 100%;
    width: 150px;
    display: flex;
    z-index: 999;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-background-nav);
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    height: 40px;
    width: 150px;
    transition: border-radius 0.4s ease-in-out, width 0.4s ease-in-out, padding 0.4s ease-in-out;
    font-weight: bolder;
    font-size: large;
    padding: 10px;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    line-height: 30px;
}

nav a span {
    display: flex;
    transition: width 0.4s ease-in-out;
    overflow: hidden;
}

nav a .img {
    height: 20px;
    width: 20px;
    background: transparent;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
    margin-right: 10px;
    margin-bottom: 7px;
}

nav a:hover {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background: var(--color-background-nav-hover);
    color: var(--color-text-opposite);
}

nav .img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
    background: var(--color-background-nav);
    border-radius: 10px;
}

.img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
    background: var(--color-background-nav);
    border-radius: 10px;
}

nav .img:hover {
    background: var(--color-background-nav-hover);
    cursor: pointer;
}

nav .nav-footer {

}

nav a.activeSpans {
    background: var(--vt-c-indigo);
    color: white;
}

nav a.activeSpans:hover {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    background: var(--color-background-nav-hover);
    color: var(--color-text-opposite);
}

#main-body {
    margin-left: 150px;
    transition: margin-left 0.4s ease-in-out;
}


header {
    width: 100%;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

#page-title {
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px;
    /*margin-left: 150px;*/
}

@media screen and (min-width: 800px) {
    nav {
        width: 150px;
    }

    nav a {
        width: 140px;
    }

    nav a span {
        width: 100%;
    }

    nav.active {
        width: 70px;
    }

    nav.active a {
        width: 60px;
    }

    nav.active a span {
        width: 0;
    }

    /*nav.active a img {*/
    /*  height: 40px;*/
    /*  width: 40px;*/
    /*}*/
    #main-body.active {
        margin-left: 70px;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    nav {
        width: 70px;
    }

    nav a span {
        width: 0;
    }

    nav a {
        width: 60px;
    }

    nav.active {
        width: 150px;
    }

    nav.active a {
        width: 140px;
    }

    nav.active a span {
        width: 100%;
    }

    #main-body {
        margin-left: 70px;
    }

    #main-body.active {
        margin-left: 150px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        width: 0;
        height: 50px;
    }

    nav a .img {
        width: 0;
    }

    nav a {
        width: 0;
        /*padding: 0;*/
        padding-left: 0;
        padding-right: 0;
    }

    nav a span {
        width: 0;
    }

    nav.active {
        height: 100%;
        width: 170px;
    }

    nav.active a {
        display: flex;
        padding: 10px;
        width: 150px;
    }

    nav.active a .img {
        width: 30px;
    }

    nav.active a span {
        width: 100%;
    }

    #main-body {
        margin-left: 0;
    }

    header .img {
        margin-left: 70px;
    }
}

.last-footer {
    border-bottom-right-radius: 0;
}

.last-footer:hover {
    border-bottom-right-radius: 0;
}


/*body content appears here*/


footer {
    background: var(--color-background-nav);
}

footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

footer .box-container h3 {
    font-size: x-large;
}

footer .img {
    border-radius: 10px;
    margin-right: 10px;
    transition: margin-right 0.25s ease-in-out, transform 0.15s ease-in-out;
}

footer .share .img {
    height: 40px;
    width: 40px;
}

footer .share {
    display: flex;
    flex-direction: row;
}

footer .boxes .img {
    height: 20px;
    width: 20px;
}

footer .box-container a {
    display: flex;
    flex-direction: row;
    font-size: large;
    color: gray;
    text-decoration: none;
    padding: 15px 0;
}

footer .box-container a:hover .img {
    margin-right: 30px;
    transform: scale(1.2);
}

footer .box-container p {
    line-height: 1.8;
    font-size: large;
    color: gray;
    padding: 10px 0;
}

footer .box-container label {
    line-height: 1.8;
    font-size: large;
    color: gray;
    padding: 1rem 0;
}

footer .box-container input {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: var(--color-text);
    background: var(--color-background-text-bg);
    font-size: larger;
}

footer .box-container button {
    font-size: x-large;
    padding: 10px;
    color: var(--color-text);
    background: var(--color-background-text-bg);
    transition: background-color 0.4s ease-in-out, border-radius 0.4s ease-in-out;
    border-radius: 10px;
}

footer .box-container button:hover {
    background: #555555;
    /*color: white;*/
    border-radius: 20px;
    cursor: pointer;
}

footer .credit {
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
}

footer .credit span {
    color: orange;
}

footer .credit a {
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

form {
    border-radius: 15px;
    /*height: fit-content;*/
    height: auto;
    width: fit-content;
    padding: 10px;
}

form button {
    padding: 10px;
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
    color: var(--color-text);
    background: var(--color-background-text-bg);
    transition: border-radius 0.4s ease-in-out;
}

form button:hover {
    cursor: pointer;
    background: darkgrey;
    border-radius: 20px;
}

form label {
    font-weight: bold;
}

form input {
    border-radius: 10px;
    height: 40px;
    min-width: 250px;
    border: none;
    margin-top: 10px;
    font-size: large;
    padding: 5px;
    color: var(--color-text);
    background: var(--color-background-text-bg);
}

form textarea {
    border-radius: 10px;
    min-height: 40px;
    height: auto;
    min-width: 250px;
    resize: none;
    border: none;
    margin-top: 10px;
    font-size: large;
    padding: 5px;
    box-sizing: border-box;
    color: var(--color-text);
    background: var(--color-background-text-bg);
}

form a {
    font-size: larger;
    color: darkorange;
    font-weight: bold;
}

form a:hover {
    color: chocolate;
}

.specific-page-title {
    text-align: center;
}

.img {
    background: transparent;
}